<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="width: 72rem;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <%= image_tag asset_path("1.jpg"), class: "d-block w-100 h-50%" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <%= image_tag asset_path("2.jpg"), class: "d-block w-100 h-50%" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">ひとめもりー</h5>
          <p class="card-text">思い出を、デザインしませんか？</p>
          <p>昔は写真を現像し、そこにひとこと添えて保管しておくことが普通でした</p>
          <p>ですが、スマホの普及によって手軽に写真を撮れるようになった一方、</p>
          <p>私たちは、写真を見返すということをしなくなってはいませんでしょうか？</p>
          <p>今一度、本当に大切な写真だけを残して、思い出を振り返りませんか？</p>
        </div>
      </div>
    </div>
  </div>
</div>
