<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<%= @user.nickname %>

<%= link_to 'memory_search', memories_search_path %>
<%= link_to 'sign_in_memory', new_memory_session_path %>
<%= link_to 'sign_up_memory', new_memory_registration_path %>