<h2>マイページ</h2>

<%= @user.nickname %>

<% @memories.each do |memory| %>
  <%= link_to memory.memory.memory_name, new_memory_session_path(memory_name: memory.memory.memory_name, memory_id: memory.memory.id) %>
<% end %>